<h1> <%= @user.username %> </h1><br>
Email Address: <%= @user.email %><br>

Twitter: <%= @user.twitter_name %> <br>
Github: <%= @user.github_name %> <br>
Bio:<%= @user.bio %> <br>

<% if current_user == @user %>
<%= link_to "Edit Profile", edit_user_path(current_user) %><br>
insert reset password link here<br>
<% end %>